sudo: required

services:
- docker

before_install:
- mkdir -p output
- docker pull asciidoctor/docker-asciidoctor

script:
- docker run -v $TRAVIS_BUILD_DIR/src:/documents/ --name asciidoc-to-html asciidoctor/docker-asciidoctor asciidoctor -D /documents/output index.adoc
- docker run -v $TRAVIS_BUILD_DIR/src:/documents/ --name asciidoc-to-pdf asciidoctor/docker-asciidoctor asciidoctor-pdf -D /documents/output index.adoc

after_error:
- docker logs asciidoc-to-html
- docker logs asciidoc-to-pdf

after_failure:
- docker logs asciidoc-to-html
- docker logs asciidoc-to-pdf

after_success:
- cd src/output ; cp -R ../images images ; cp -R ../../maven maven
- git init
- git config user.name "${GH_USER_NAME}"
- git config user.email "{GH_USER_EMAIL}"
- git add . ; git commit -m "Deploy to GitHub Pages"
- git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:asciidoc-build > /dev/null 2>&1